<app-menu></app-menu>

<main class="bg-[#B4C8B1] min-h-screen px-4 py-10 md:px-20 text-[#252525] flex flex-col justify-start items-center gap-10 pt-[70px]">


  <header>
    <h1 class="text-3xl md:text-4xl font-bold font-lemon text-center mb-10 md:mb-14 animate__animated animate__fadeInDown">
      Contactos
    </h1>
  </header>

  <section class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full max-w-6xl">
    <article
      *ngFor="let contacto of contactos; let i = index"
      [ngClass]="
        'animate__animated ' +
        (i % 2 === 0 ? 'animate__fadeInLeft' : 'animate__fadeInRight') +
        ' animate__delay-0-2s'
      "
      class="bg-[#F5C85D] rounded-md shadow-lg flex flex-col justify-between opacity-0"
      style="animation-fill-mode: both;"
    >
      <header class="p-4">
        <h2 class="font-inriaItalic text-lg md:text-xl text-[#252525] leading-snug">
          {{ contacto.nombre }}
        </h2>
      </header>

      <section class="bg-[#FAE2A5] px-4 py-2 rounded-b-md text-sm md:text-base font-inriaLight text-[#252525]">
        <p>{{ contacto.descripcion }}</p>
        <p>Teléfono: {{ contacto.telefono }}</p>
        <p>Correo: {{ contacto.correo || 'No disponible' }}</p>
      </section>
    </article>
  </section>

</main>
