<header class="bg-[#F5F5DC] shadow-md fixed top-0 w-screen z-50">
  <div class="container mx-auto px-6 py-3 flex items-center justify-between">

    <a (click)="redirigir('/')" class="cursor-pointer">
      <img *ngIf="contenido.length > 0" [src]="contenido[0].url_image" [alt]="contenido[0].alt"
        class="h-10 transform transition-transform duration-300 hover:scale-105 cursor-pointer">
    </a>

    <nav class="hidden md:block">
      <ul class="flex items-center gap-x-8 text-[#252525] font-medium">

        <li>
          <a (click)="redirigir('/')" [ngClass]="{
            'bg-[#8CC63F] px-3 py-1 rounded-full': rutaActual === '/',
            'hover:underline': rutaActual !== '/'
          }" class="transition cursor-pointer">
            Inicio
          </a>
        </li>

        <li>
          <a (click)="redirigir('/acerca')" [ngClass]="{
            'bg-[#8CC63F] px-3 py-1 rounded-full': rutaActual.includes('/acerca'),
            'hover:underline': !rutaActual.includes('/acerca')
          }" class="transition cursor-pointer">
            Acerca
          </a>
        </li>

        <li>
          <a (click)="redirigir('/comousar')" [ngClass]="{
            'bg-[#8CC63F] px-3 py-1 rounded-full': rutaActual.includes('/comousar'),
            'hover:underline': !rutaActual.includes('/comousar')
          }" class="transition cursor-pointer">
            Cómo usar
          </a>
        </li>

        <li>
          <a (click)="redirigir('/emprendimientos')" [ngClass]="{
    'bg-[#8CC63F] px-3 py-1 rounded-full': rutaActual.includes('/emprendimientos') || rutaActual.startsWith('/emprendimiento/'),
    'hover:underline': !rutaActual.includes('/emprendimientos') && !rutaActual.startsWith('/emprendimiento/')
  }" class="transition cursor-pointer">
            Emprendimientos
          </a>
        </li>

        <li>
          <a (click)="redirigir('/contactos')" [ngClass]="{
            'bg-[#8CC63F] px-3 py-1 rounded-full': rutaActual.includes('/contactos'),
            'hover:underline': !rutaActual.includes('/contactos')
          }" class="transition cursor-pointer">
            Contactos
          </a>
        </li>

      </ul>
    </nav>

    <button class="md:hidden flex flex-col justify-between w-8 h-6" (click)="abrirMenu()" aria-label="Abrir menú">
      <span
        class="w-full h-1 bg-[#F2C94C] border border-black transition hover:bg-[#D2AD3D] active:bg-[#F8DB83]"></span>
      <span
        class="w-full h-1 bg-[#F2C94C] border border-black transition hover:bg-[#D2AD3D] active:bg-[#F8DB83]"></span>
      <span
        class="w-full h-1 bg-[#F2C94C] border border-black transition hover:bg-[#D2AD3D] active:bg-[#F8DB83]"></span>
    </button>

    <nav *ngIf="menuAbierto" (animationend)="onAnimacionTerminada()"
      class="fixed inset-0 z-50 text-white flex flex-col justify-between p-6 animate__animated" [ngClass]="{
       'animate__slideInRight': animacionEntrada && !cerrandoMenu,
       'animate__slideOutRight': cerrandoMenu
     }" [ngStyle]="{
  'background-image': fondoMenuMovil ? 'url(' + fondoMenuMovil.url_image + ')' : 'none',
  'background-size': 'cover',
  'background-position': 'center'
}">

      <div class="absolute inset-0 bg-[#628D2A] opacity-80 z-0"></div>

      <div class="relative z-10 flex justify-between items-center">
        <img *ngIf="contenidoMovil.length > 0" [src]="contenidoMovil[0].url_image" [alt]="contenidoMovil[0].alt"
          class="h-10 cursor-pointer" (click)="redirigir('/')">

        <button class="text-4xl font-bold" (click)="cerrarMenu()">&times;</button>
      </div>

      <ul
        class="relative z-10 flex flex-col items-center justify-center flex-grow gap-6 text-2xl font-bold font-inriaLight">
        <li>
          <a (click)="redirigir('/'); cerrarMenu()" [ngClass]="{
         'bg-[#8CC63F] px-4 py-2 rounded-full': rutaActual === '/'
       }" class="font-bold font-lemon transition">
            Inicio
          </a>
        </li>
        <li>
          <a (click)="redirigir('/acerca'); cerrarMenu()" [ngClass]="{
         'bg-[#8CC63F] px-4 py-2 rounded-full': rutaActual.includes('/acerca')
       }" class="font-bold font-lemon transition">
            Acerca
          </a>
        </li>
        <li>
          <a (click)="redirigir('/comousar'); cerrarMenu()" [ngClass]="{
         'bg-[#8CC63F] px-4 py-2 rounded-full': rutaActual.includes('/comousar')
       }" class="font-bold font-lemon transition">
            Cómo usar
          </a>
        </li>
        <li>
          <a (click)="redirigir('/emprendimientos'); cerrarMenu()" [ngClass]="{
         'bg-[#8CC63F] px-4 py-2 rounded-full': rutaActual.includes('/emprendimientos') || rutaActual.startsWith('/emprendimiento/')
       }" class="font-bold font-lemon transition">
            Emprendimientos
          </a>
        </li>
        <li>
          <a (click)="redirigir('/contactos'); cerrarMenu()" [ngClass]="{
         'bg-[#8CC63F] px-4 py-2 rounded-full': rutaActual.includes('/contactos')
       }" class="font-bold font-lemon transition">
            Contacto
          </a>
        </li>
      </ul>



    </nav>

  </div>
</header>