<app-menu></app-menu>

<main class="bg-[#B4C8B1] min-h-screen px-4 py-10 md:px-20 text-[#252525] flex flex-col items-center gap-10 pt-[70px]">


    <h1 class="text-3xl md:text-4xl font-bold font-lemon text-center mb-6 animate__animated animate__fadeInDown">
        Cómo usar el catálogo
    </h1>

    <section
    class="flex flex-col md:flex-row items-center md:items-start justify-around w-full max-w-6xl flex-grow gap-12 md:gap-10">

    <article class="flex flex-col items-center md:items-start gap-3 animate__animated animate__fadeInLeft">
      <span class="text-2xl font-bold font-inriaSerif">1</span>
      <p class="bg-[#F2C94C] rounded-xl px-6 py-4 text-center w-[240px]">
        Elige tus programas favoritos para participar
      </p>
    </article>

    <article class="flex flex-col items-center md:items-center gap-3 mt-6 md:mt-24 animate__animated animate__fadeInRight">
      <span class="text-2xl font-bold font-inriaSerif">2</span>
      <p class="bg-[#F2C94C] rounded-xl px-6 py-4 text-center w-[240px]">
        Póngase en contacto directamente con los proveedores de programas
      </p>
    </article>

    <article class="flex flex-col items-center md:items-end gap-3 mt-6 md:mt-48 animate__animated animate__fadeInLeft">
      <span class="text-2xl font-bold font-inriaSerif">3</span>
      <p class="bg-[#F2C94C] rounded-xl px-6 py-4 text-center w-[240px]">
        Definir la fecha y hora para el programa, y pedir la dirección del lugar
      </p>
    </article>

  </section>
</main>