
@media (min-width: 1000px) {
  .solo-desktop {
    display: grid !important;
  }

  .solo-movil {
    display: none !important;
  }
}

@media (max-width: 999px) {
  .solo-desktop {
    display: none !important;
  }

  .solo-movil {
    display: block !important;
  }
}
