<app-menu></app-menu>

<main
  class="bg-[#B4C8B1] min-h-screen px-4 py-10 md:px-20 text-[#252525] flex flex-col justify-start items-center gap-10 pt-[70px]">

  <header>
    <h1
      class="text-3xl md:text-4xl font-bold font-lemon text-center mb-10 md:mb-14 animate__animated animate__fadeInLeft">
      Acerca
    </h1>
  </header>

  <article class="flex flex-col md:flex-row items-center justify-center gap-10 w-full max-w-6xl">

    <section class="md:w-1/2 text-center md:text-left animate__animated animate__fadeInUp">
      <p class="text-[17px] font-inriaLight leading-relaxed">
        Dentro de esta metodología se estructuran programas vivenciales a partir de los recursos locales;
        brindando apoyo a la gente de la comunidad para que reconozcan los recursos y actividades locales
        potenciales frecuentemente no identificadas y promoviéndolas como parte clave del desarrollo rural.
      </p>
    </section>

    <figure class="md:w-1/2 animate__animated animate__fadeInRight">
      <img *ngIf="contenido.length > 0" [src]="contenido[0].url_image" [alt]="contenido[0].alt"
        class="rounded-lg w-full max-w-[500px] mx-auto md:mx-0 object-contain" />
    </figure>


  </article>

</main>