<app-menu/>
<main class="bg-[#B4C8B1] min-h-screen px-4 py-10 md:px-20 text-[#252525] flex flex-col justify-start items-center gap-10 pt-[70px]">

  <!-- Título -->
  <header>
    <h1 class="text-3xl md:text-4xl font-bold font-lemon text-center mb-10 md:mb-14 animate__animated animate__fadeInDown">
      Emprendimientos
    </h1>
  </header>

  <!-- Lista de de emprendimientos -->
  <section class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full max-w-6xl">
      <div *ngFor="let emprendimiento of emprendimientos; let i = index">


      </div>
  </section>

</main>
