<app-menu></app-menu>
<main class="bg-[#B4C8B1] min-h-[calc(100vh-90px)] px-4 py-6 md:px-10 pt-[70px] text-[#252525] flex flex-col items-center gap-4">

  <h1 class="text-2xl md:text-3xl font-bold font-lemon animate__animated animate__fadeInLeft">
    Turrialba y Jimenez
  </h1>

  <p class="max-w-3xl mx-auto text-base font-inriaLight leading-normal text-center animate__animated animate__fadeInRight">
    El Comité Local del Movimiento Un Pueblo un Producto impulsa desde el 2017 la metodología D-Hope, lo cual promueve
    los emprendimientos locales que ofrecen programas vivenciales con el objetivo de divulgarlos y promocionarlos.
  </p>

  <img *ngIf="contenido.length > 0" [src]="contenido[0].url_image" [alt]="contenido[0].alt"
    class="mx-auto rounded-lg w-full max-w-[460px] object-contain animate__animated animate__fadeInUp" />

  <div class="mt-4 animate__animated animate__fadeInUp animate__delay-1s">
    <button (click)="RedirigirEmprendimientos()"
      class="bg-[#F2C94C] text-black font-medium px-4 py-1.5 rounded-full hover:bg-[#D2AD3D] active:bg-[#F8DB83] transition">
      Ver emprendimientos
    </button>
  </div>

</main>
